.gameBoard {
  display: flex;
  flex-direction: column-reverse;
  gap: 5px;
}

.row {
  display: flex;
}

.cell {
  width: 60px;
  height: 60px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: background-color 0.4s ease, border-color 0.4s ease;
}

.cell.player1 {
  box-shadow: 0 0 5px blue;
}

.cell.player2 {
  box-shadow: 0 0 5px red;
}

.cell.animatePlayer1 {
  animation: highlightBlue 0.5s ease forwards;
}

.cell.animatePlayer2 {
  animation: highlightRed 0.5s ease forwards;
}

.cell.bothPlayers {
  background-image: linear-gradient(to right, blue 50%, red 50%);
}

.cell.bothPlayers .player1 {
  background-color: blue;
  opacity: 0.6; 
}

.cell.bothPlayers .player2 {
  background-color: red;
  opacity: 0.6; 
}
.cell.specialCell {
  background-color: rgb(122, 17, 122);
  color: #ddd;
}

@keyframes highlightBlue {
  0% {
    background-color: #add8e6;
  }
  100% {
    background-color: blue;
  }
}

@keyframes highlightRed {
  0% {
    background-color: #f08080;
  }
  100% {
    background-color: red;
  }
}

.highlightBlue {
  animation: highlightBlue 0.5s ease-in-out;
  will-change: background-color;
}

.highlightRed {
  animation: highlightRed 0.5s ease-in-out;
  will-change: background-color;
}


