.controls {
    display: flex;
    margin-top: 18px;
    margin-left: 200px;
}

.rollDiceButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.rollDiceButton.player1Turnn {
    background-color: blue;
    color: #fff;
}

.rollDiceButton.player1Turnn:hover {
    color: blue;
    border: 2px solid blue;
    background-color: #fff;
}

.rollDiceButton.player2Turnn {
    background-color: red;
    color: #fff;
}

.rollDiceButton.player2Turnn:hover {
    color: red;
    border: 2px solid red;
    background-color: #fff;
}

.newGame {
    background-color: chocolate;
    color: #fff;
}

.newGame:hover {
    color: chocolate;
    background-color: #fff;
    border: 2px solid chocolate;
}

.rollDiceButton:disabled {
    background-color: #d3d3d3;  /* Light gray to indicate disabled state */
    cursor: not-allowed;  /* Change the cursor to indicate it's disabled */
    pointer-events: none;  /* Make sure the button is not interactive */
  }