.App {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  flex-direction: column;
}

.main-container {
  display: flex;
  justify-content: space-between; 
  width: 100%;
  margin-left: 50px;
}

.left-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 300px;
  padding: 20px;
}

.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 20px;
  margin-left: 40px;
}


.top-stats, .middle-stats {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.bottom-controls {
  display: flex;
  justify-content: center;
  margin-top: 20px; 
}

.game-board {
  display: flex;
  flex-direction: column-reverse; /* Reverses the order of rows, showing bottom to top */
  gap: 5px; /* Space between rows */
}

.row {
  display: flex; /* Flex to display cells in each row horizontally */
}

.cell {
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 30px;
  border: 1px solid #ddd;
}


.cell.player1 {
  background-color: blue;
  color: white;
}

.cell.player2 {
  background-color: red;
  color: white;
}

.cell.both-players {
  background: linear-gradient(to right, blue 50%, red 50%);
}

.cell.special {
  background-color: rgb(122, 17, 122);
}

.game-info {
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 100%;
}

button {
  margin: 10px;
}

.player-stats {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(207, 196, 196, 0.1);
}

.player-stats h2 {
  text-align: center;
}

.player-stats p {
  margin: 10px 0;
  font-size: 16px;
}
