.App {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  flex-direction: column;
}

.main-container {
  display: flex;
  justify-content: space-between; 
  width: 150vh;
  margin-left: 50px;
}

.left-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 300px;
  padding: 20px;
}

.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 20px;
  margin-left: 40px;
}


.player1-stats, .player1-stats {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.bottom-controls {
  display: flex;
  justify-content: center;
  margin-top: 20px; 
}

.game-board {
  display: flex;
  flex-direction: column-reverse;
  gap: 5px;
}

.row {
  display: flex;
}

.cell {
  width: 40px;
  height: 40px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.cell.player1 {
  background-color: blue;
}

.cell.player2 {
  background-color: red;
}

.cell.animate.player1 {
  animation: highlight-blue 0.3s ease;
}

.cell.animate.player2 {
  animation: highlight-red 0.3s ease;
}

.cell.both-players {
  background: linear-gradient(to right, blue 50%, red 50%);
}

.cell.special {
  background-color: rgb(122, 17, 122);
  color: #ddd;
}

.game-info {
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 100%;
}

button {
  margin: 10px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  transition: border-color 0.25s;
}

.new-game{
  background-color: chocolate;
  color: #fff;
}

.new-game:hover{
  color: chocolate;
  background-color: #fff;
  border: 2px solid chocolate;
}

.player-stats {
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(32, 32, 32, 0.1);
}

.player-stats.player1-turn {
  box-shadow: 0 0 2px blue;  
}

.player-stats.player2-turn {
  box-shadow: 0 0 2px red; 
}

.player-stats h3 {
  text-align: center;
}

.player-stats p {
  margin: 10px 0;
  font-size: 16px;
}

.roll-dice-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.roll-dice-button.player1-turnn{
  background-color: blue;
  color: #fff;
}

.roll-dice-button.player1-turnn:hover{
  color: blue;
  border: 2px solid blue;
  background-color: #fff;
}

.roll-dice-button.player2-turnn {
  background-color: red; 
  color: #fff;
}

.roll-dice-button.player2-turnn:hover{
  color: red;
  border: 2px solid red;
  background-color: #fff;
}

@keyframes highlight-blue {
  0% {
    background-color: blue;
  }
  100% {
    background-color: blue;
  }
}

@keyframes highlight-red {
  0% {
    background-color: red;
  }
  100% {
    background-color: red;
  }
}