.App {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  flex-direction: column;
}

.main-container {
  display: flex;
  justify-content: space-between;
  width: 150vh;
  margin-left: 50px;
}

.left-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 300px;
  padding: 20px;
}

.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 20px;
  margin-left: 40px;
}
button {
  margin: 10px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  transition: border-color 0.25s;
}